// COLORS
$heading: #191919;




// EXTEND INHERITANCE
%dm400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%dm500 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

%dm700 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%r400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%r500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%pop700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}