@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// ================== HEADER ==================
.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;
    @extend %r500;
    font-size: 36px;
    // line-height: 58px;
    color: #436372;

    &__img {
        margin-right: 10px;
    }
}


.menu {
    &__list {
        display: flex;
    }

    &__list-item+&__list-item {
        margin-left: 30px;
    }



    &__list-link {
        @extend %r500;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
    }
}

.user-nav {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 51px;
        height: 52px;

        &--search {
            background-color: #edf1f4;
        }

        &--menu {
            background-color: #a3bbc8;
        }
    }

    &__group {
        display: block;
        text-align: center;
        background-color: #fcd7b6;
        // width: 178px;
        border-radius: 25px;
        padding: 10px 40px;
        margin: 0 20px 0;
    }

    &__group-link--fav,
    &__group-link--cart {
        position: relative;
        // REMOVE MYSTERIOUSE LINK CONTENT WIDTH
        display: inline-block;
    }

    &__group-link--bar {
        display: inline-block;
        margin: 0 25px 0;
    }

    &__group-count {
        position: absolute;
        display: inline-block;
        top: -7px;
        right: -10px;
        width: 16px;
        height: 16px;
        @extend %dm400;
        font-size: 10px;
        line-height: 16px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
    }

}


// ================== FOOTER ==================
.footer-top {
    display: flex;
    padding: 70px 0 70px;
    border-bottom: 1px solid #dae4e9;

    &__item {
        max-width: 270px;
        width: 100%;
    }

    &__item+&__item {
        margin-left: 30px;
    }

    &__logo {
        margin-bottom: 25px;
    }

    &__address,
    &__phone,
    &__mail,
    &__text {
        display: block;
        @extend %r400;
        font-size: 14px;
        line-height: 24px;
        color: #7b7b7b;
    }

    &__address {
        max-width: 240px
    }

    &__phone {
        margin: 10px 0;
    }

    &__title {
        display: inline-block;
        @extend %dm700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        margin: 12px 0 27px;
    }

    &__list-item+&__list-item {
        margin-top: 14px;
    }

    &__list-link {
        @extend %r400;
        font-size: 16px;
        line-height: 21px;
        color: #7b7b7b;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__form {
        display: block;
    }

    &__form-input {
        border: none;
        background-color: rgba(252, 215, 182, 0.2);
        max-width: 170px;
        width: 100%;
        padding: 0 15px;
        height: 38px;

        &::placeholder {
            @extend %dm400;
            font-size: 12px;
            color: #234969;
        }

        &:focus {
            outline: none;
        }
    }

    &__form-btn {
        @extend %dm400;
        font-size: 14px;
        line-height: 21px;
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        cursor: pointer;
        max-width: 100px;
        width: 100%;
        height: 38px;
        padding: 0;
    }
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px;

    &__copy {
        font-size: 14px;
        @extend %r400;
        color: #7b7b7b;
        line-height: 32px;
    }

    &__list {
        display: flex;
    }

    &__item+&__item {
        margin-left: 15px;
    }

    &__link {
        font-size: 14px;
        @extend %r400;
        color: #7b7b7b;
        line-height: 32px;
        text-transform: capitalize;
        padding-right: 15px;
        border-right: 1px solid #7b7b7b;
    }
}



// ================== TOP SLIDER ==================
.top-slider {

    &__wrapper {
        background-color: #fcd7b6;
    }

    &__inner {
        position: relative;
        // padding: 105px 0 80px;
        margin: 100px 0 66px;

        &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
            top: -30px;
            right: 100px;
            width: 634px;
            height: 634px;
            z-index: -1;
        }
    }


    &__item {
        display: flex !important;
        justify-content: space-evenly;
        max-width: 1330px;
        padding: 120px 30px 200px;
        margin: 0 auto;
    }

    &__content {
        margin-right: 30px;
    }

    &__title {
        @extend %r500;
        max-width: 470px;
        text-transform: uppercase;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        margin-bottom: 20px;
    }

    &__text {
        @extend %r400;
        max-width: 370px;
        font-size: 18px;
        color: #436372;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__link {
        display: inline-block;
        max-width: 200px;
        width: 100%;
        @extend %r500;
        text-transform: capitalize;
        font-size: 15px;
        color: #fff;
        line-height: 1;
        background-color: #a3bbc8;
        padding: 24px 100px 20px 25px;

        // ADDING THE RIGHT ARROW
        background-image: url('../images/icons/arrowRight.svg');
        background-position: center right 18px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__img {
        align-self: flex-end;
    }


    .slick-dots {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;

        li+li {
            margin-left: 12px;
        }

        li {

            button {
                border: none;
                border-radius: 50%;
                background-color: #fff;
                opacity: 0.3;
                @extend %r500;
                font-size: 15px;
                color: #243f4d;
                line-height: 1;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            &.slick-active {
                button {
                    opacity: 1;
                }
            }

        }
    }


    .info {
        background-color: #fef7f0;
        padding: 45px 0;

        &__container {
            max-width: 1630px;
            padding: 0 30px;
            margin: 0 auto;
        }

        &__items {
            display: flex;
            justify-content: space-between;

        }

        &__item + .info__item {
            margin-left: 30px;
        }

        &__item {
            position: relative;
            max-width: 370px;
            padding-left: 100px;

            &--support::before,
            &--delivery::before,
            &--payment::before {
                position: absolute;
                content: '';
                top: 13px;
                left: 24px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &--support::before {
                background-image: url("../images/icons/support.svg");
                width: 52px;
                height: 54px;

            }

            &--delivery::before {
                background-image: url("../images/icons/delivery.svg");
                width: 55px;
                height: 57px;
                top: 0;
            }

            &--payment::before {
                background-image: url("../images/icons/payment.svg");
                width: 54px;
                height: 53px;
            }
        }

        &__title {
            @extend %dm500;
            font-size: 18px;
            color: #414141;
            line-height: 40px;
        }

        &__text {
            @extend %dm400;
            font-size: 16px;
            color: #585858;
            line-height: 30px;
            max-width: 220px
        }
    }
}

















@import 'media';